<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <title>DJANGO~ADI@Hospital</title>

</head>
<style>
  .round {
    margin-top: 10px;
    border-radius: 50%;
    width: 50px;
    height: 40px;
  }
</style>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-dark">

    <div class="container-fluid">
      <a class="navbar-brand text-info" href="/">DJANGO</a>
      <img class="round" src="{% static 'base/images/logo.jpg' %}" class="rounded-circle" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="True" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% if request.user.is_authenticated %}



      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="{% url 'hospital_data' %}">HOSPITAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'patient_urls' %}">PATIENCE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'insurence' %}">INSURENCECOMPANIES</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'claim' %}">CLAIMSTATUES</a>
          </li>


          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'all_models' %}">Q-Models</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'conatct' %}">CONATC</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'conatctModel' %}">CONTACTDATA</a>
          </li>


          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'admin:index' %}">ADMINSITE</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'logoutss' %}">Logout</a>
          </li>

          {% else %}
         
          <ul>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'userregistration' %}">NewUser</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'logoutss' %}">Logout</a>
            </li>
          </ul>
          {% endif %}



        </ul>
      </div>
    </div>
  </nav>


  {% block content %}

  <div class="container">


  </div>

  {% endblock content %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>